body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #000;
  margin: 0;
  padding: 10px;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #00ff00;
}

.section {
  padding: 60px 20px;
}

.section h2 {
  font-size: 24px;
}

.section p, .section li {
  font-size: 14px;
}

.icon {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;

  #experiencias .job h3 {
  color: #00ff88; /* Verde */
  font-weight: bold;
  margin-top: 20px;

  }

}

